---
import { Image } from "astro:assets"
import Logo from '../images/logo.avif'

/* const nav = document.getElementById('navbar');

document.addEventListener('scroll', () => {
    const scrollPosition = window.scrollY;

    if(scrollPosition > 0){
        
    }
}) */
---
<nav id="navbar" class="bg-transparent fixed top-0 w-full 
flex justify-center
md:justify-between 
items-center px-10 sm:px-[128px]    
font-bold text-lg
py-5
z-10
">
    <Image src={Logo} alt="DMGC logo" class='max-w-[266px] max-h-[88px]' />    
    <div class="hidden items-center gap-5 lg:flex">
        <a href="#home">Home</a>
        <a href="#about-us">Sobre Nosotros</a>
        <a href="/">Servicios</a>
        <a href="/">Productos</a>
        <a href="/">Contacto</a>
    </div>
</nav>